node_modules/
.DS_Store
*.log
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.parcel-cache
dist/
coverage/
.next/
out/
build/
affi*.zip

# Platform specific folders (synchronized via Makefile)
/firefox/*
!/firefox/manifest.json.src
